* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header,
.first {
  background-color: #1f2937;
  color: #e5e7eb;
  margin: auto;
  width: 800px;
}

.header h3,
.first h3 {
  color: #f9faf8;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right img {
  width: 300px;
}
